examples/java/cis-adapter-test/.metadata/
examples/java/cis-adapter-test/test-rest-adapter/.settings/
examples/java/cis-adapter-test/.recommenders/
examples/java/cis-adapter-test/test-deep-integration-adapter/.settings/
